doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title GLT
    link(rel='stylesheet', type='text/css', href='css/main.min.css') 
  body
    div(class="page")
      section(class="mainHeader")
        div(class="mainHeader__overlay")
        
        include ./components/header.pug

        div(class="container") 
          div(class="row justify-content-start")
            div(class="col-lg-1")
            div(class="col-lg-7")
              div(class="mainHeader__wrap")
                h3(class="mainHeader__welcome") welcome to glt 
                h1(class="mainHeader__head").
                  We are a creative group of people who design influential 
                  brands and digital experiences.
                div(class="mainHeader__btnWrap")
                  a(class="mainHeader__btn") start a project
                  a(class="mainHeader__btn") more about us

        include ./components/social.pug

        div(class="mainHeader__scroll")
          div(class="mainHeader__scrollIcon")
            i(class="fas fa-angle-down") 
            span scroll down 
          div(class="mainHeader__line")

      section(class="about")

        div(class="about__line")

        div(class="container")
          div(class="row justify-content-center")
            div(class="col-md-7")
              div(class="about__greeting")
                p(class="about__hello") hello there
                h2(class="about__name") we are glint

          div(class="row justify-content-center")
            div(class="col-md-10")      
              div(class="about__description") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus non, cumque, accusantium dolorum harum porro dolore numquam provident ex, quo perspiciatis quam! Aspernatur, totam fugit. Repellat eligendi soluta suscipit minima voluptate error neque illo harum! Libero ratione natus dolores, vero incidunt asperiores quae deserunt fugit. Harum enim accusantium a deleniti?
              
          div(class="row justify-content-center align-items-center about__achievements")
            div(class="col-md-3 about__achievementWrap")
              div(class="about__achievement")
                div(class="about__score") 127
                span(class="about__scoreDescr") awards received

            div(class="col-md-3 about__achievementWrap")
              div(class="about__achievement") 
                div(class="about__score") 1505
                span(class="about__scoreDescr") cup of coffee

            div(class="col-md-3 about__achievementWrap")
              div(class="about__achievement")
                div(class="about__score") 109
                span(class="about__scoreDescr") projects complited

            div(class="col-md-3 about__achievementWrap")
              div(class="about__achievement")
                div(class="about__score") 102
                span(class="about__scoreDescr") happy clients

  script(src="./js/common.min.js")
      