.header 
  display: flex
  justify-content: space-between
  width: 100%  
  height: 96px
  background-color: transparent
  padding: 0 3vw 0 3vw
  align-items: center
  &__logoWrap
    width: 10vw
  &__logoImg
    width: 100%
  &__menuWrap
    width: 10vw
    color: $green
    display: flex
    justify-content: space-between
    align-items: center
    height: 50%
    font-family: $montserat-medium
    &:hover
      cursor: pointer 
  &__menu
    width: 50%
    height: 100%
    &:hover
      cursor: pointer