footer.footer
  .container
    .row.justify-content-around
      .footer__glint 
        img( class="footer__logo" src="../../img/logo-footer.png", alt="logo",)
        p.footer__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores officia corporis consequatur numquam? Impedit rerum delectus a neque ipsa sed, sit, sunt quia facere inventore fuga aliquam eos dolorem ratione accusantium deleniti perferendis doloremque molestias? Voluptas quae distinctio, debitis nesciunt voluptates rem minima accusamus sint commodi voluptate vel illo ipsam.
      .footer__glint
        h3.footer__getNot Get notified
        p.footer__description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit voluptas vero quidem eos dolore consequatur nobis ullam! Odit, sequi ipsa!