header(class="header")
       
  nav(id="my-menu")
    ul(class="")
      li(class="")
        a(class="") home
      li(class="")
        a(class="") home2
      li(class="")
        a(class="") home3

  div(class="header__logoWrap")    
    a(href="index.html" class="header__logo")
      img(src="../../img/logo.png", alt="logo" class="header__logoImg")
      
  div(class="header__menuWrap" id="my-icon") menu
    button(class="hamburger hamburger--collapse"  type="button")
      span(class="hamburger-box")
        span(class="hamburger-inner")
