header(class="header")
       
  nav(id="my-menu")
    ul(class="")
      li(class="")
        a(data-link=".about" class="header__menuItem") About
      li(class="")
        a(data-link=".service" class="header__menuItem") Our Job
      li(class="")
        a(data-link=".work" class="header__menuItem") Work

  div(class="header__logoWrap")    
    a(href="index.html" class="header__logo")
      img(src="../../img/logo.png", alt="logo" class="header__logoImg")
        
  div(class="header__menuWrap" id="my-icon") menu
    button(class="hamburger hamburger--collapse"  type="button")
      span(class="hamburger-box")
        span(class="hamburger-inner")
