ul(class="social")
  li(class="social__item")
    i(class="fab fa-facebook-f")
    span(class="social__name") Facebook

  li(class="social__item")
    i(class="fab fa-twitter")
    span(class="social__name") Twitter

  li(class="social__item")
    i(class="fab fa-dribbble")
    span(class="social__name") Dribbble

  li(class="social__item")
    i(class="fab fa-instagram")
    span(class="social__name") Instagram