div(class="social")
  div(class="socila__item")
    <i class="fab fa-facebook-f"></i>
  div(class="socila__item")
    <i class="fab fa-twitter"></i>
  div(class="socila__item")
    <i class="fab fa-instagram"></i>
  div(class="socila__item")
    <i class="fab fa-behance"></i>
  div(class="socila__item")
    <i class="fab fa-dribbble"></i>