div(class="social")
  div(class="socila__item")
    <i class="fab fa-facebook-f"></i>
  div(class="socila__item")
    <i class="fab fa-facebook-f"></i>
  div(class="socila__item")
    <i class="fab fa-facebook-f"></i>
  div(class="socila__item")
    <i class="fab fa-facebook-f"></i>
  div(class="socila__item")
    <i class="fab fa-facebook-f"></i>